@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center col-md-12">
    <div class="jumbotron bg-secondary rounded mt-3 mb-3">
        <h1 class="font-weight-bold text-white">Welcome to RichStore</h1>
        <hr class="bg-white hr-1" />
        <h3 class="text-white">Get your desired machine</h3>
        <a class="page-item font-weight-bold text-warning" href="/Products/All">Shop now</a>
    </div>
</div>


